@keyframes pulsar {
    0% {
        box-shadow: 0 0 10px 5px var(--color-minimun-pulse);
    }
    50% {
        box-shadow: 0 0 30px 15px var(--color-maximum-pulse);
    }
    100% {
        box-shadow: 0 0 10px 5px var(--color-minimun-pulse);
    }
}