:root {

    --color-background: #8FA6CB;
}

footer {
    background-color: var(--color-background);
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
