@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
    --color-background: #8FA6CB;
    --color-font: #ffffff;
    --color-background-body: #F8F4E3;
    --color-background-main: #8fa6cb;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
}

body {
    background-color: var(--color-background-body);
    color: var(--color-font);
    min-height: 100vh;
    margin: 0;
}

.main,
.main-homepage {
    width: 90%;
    max-width: 800px;
    margin: 1.5% auto;
    background-color: var(--color-background-main);
    border-radius: 25px;
    display: grid;
    min-height: 85vh;
    place-items: center;
    align-content: space-evenly;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7 {
    display: grid;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;    
    width: 80vh;
}


.image {
    width: 100%; /* Mudando a largura da imagem para ocupar 100% do espaço do pai */
    max-width: 200px; /* Definindo uma largura máxima para a imagem */
    border-radius: 25%;
}

@media (max-width: 900px) { 
    .main {
        width: 80%;
        padding: 1%;
    }
}

.about p {
    text-align: justify;
}

p:first-of-type {
    text-indent: 20px;
}

.text {
    padding: 1%;
}

h2 {
    text-align: center;
    padding: 5%;
}