:root {
    --color-background: #8FA6CB;
    --color-font: #ffffff;
    --color-background-body: #F8F4E3;
    --color-background-main: #8fa6cb;
}

footer {
    color: var(--color-font);
    background-color: var(--color-background-main);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer p{
    padding-bottom: 15px;
}

.footer i {
    font-size: 40px;
}